<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="icon" href="img/icons8-clouds-24.png">
    <link rel="stylesheet" href="../../public/img/cloudy-outline.svg">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/styles.css" />
    <title>{{title}}</title>
  </head>
  <body>
    {{>header}}
    <div class="container">  
      <h1>You don't need help. It's pretty simple app.</h1>
     
    </div>
  {{>footer}}
      <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
  </body>
</html>