<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/styles.css" />
    <title>{{title}}</title>
  </head>
  <body>
    {{>header}}
    <div class="container">  
    <h1>This web app uses data from <a href="https://weatherstack.com/">weatherstack.com</a>  and <a href="https://positionstack.com/">positionstack.com</a></h1>
 
      
    </div>
    {{>footer}}
  </body>
</html>